<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/logo.svg" alt="Athanasia" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/product-view">
      <mat-icon>dashboard</mat-icon> Product List
    </a>
    <a *ngIf="user" mat-list-item routerLink="/new-sale">
      <mat-icon>shopping_basket</mat-icon>Shopping</a>
</mat-nav-list>
  