<mat-drawer-container class="global-content">
  <mat-drawer #drawer mode="side">
      <a [routerLink]="['/home']">Home</a><br>
      <a [routerLink]="['/newSale']">Products</a><br>
  </mat-drawer>
  <div>
      <button (click)="drawer.toggle();" mat-raised-button 
      color="primary">Menu</button>
      <div>
        <button mat-raised-button color="primary"
        [routerLink]="['/login']">
          Login
        </button>
        <button mat-raised-button color="warn"
        *ngIf="user" (click)="logout()">Logout</button>
      </div>
  </div>
</mat-drawer-container>
<router-outlet></router-outlet>
