<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form>
            <p>
                <mat-form-field>
                    <input type="text" formControlName="email" matInput
                    placeholder="Email">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" formControlName="password" matInput
                    placeholder="Passsword">
                </mat-form-field>
            </p>
            <div>
                <button type="submit" mat-raised-button
                >Iniciar sesión</button>
            </div>
    </form>
    </mat-card-content>
</mat-card>